UNKNOWN {
	BORDER-RIGHT: #007a85 1px solid; BORDER-TOP: #007a85 1px solid; MARGIN: 2px; BORDER-LEFT: #007a85 1px solid; BORDER-BOTTOM: #007a85 1px solid
}
UNKNOWN {
	MARGIN: 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
UNKNOWN {
	MARGIN-LEFT: 5px; BORDER-TOP-STYLE: none; MARGIN-RIGHT: 5px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
UNKNOWN {
	MARGIN-LEFT: 5px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
TEXTAREA {
	BORDER-RIGHT: #007a85 1px solid; BORDER-TOP: #007a85 1px solid; MARGIN: 2px; BORDER-LEFT: #007a85 1px solid; BORDER-BOTTOM: #007a85 1px solid
}
SELECT {
	BORDER-RIGHT: #007a85 1px solid; BORDER-TOP: #007a85 1px solid; MARGIN: 2px; BORDER-LEFT: #007a85 1px solid; BORDER-BOTTOM: #007a85 1px solid
}
